  {% extends "blog/base.html" %}
  {% load static %}

    {% block content %}
    
<style>
  .card {
    background: #2e363426;
    border: 1px solid #dd2476;
    color: rgb(40 25 25 / 80%)
    margin-bottom: 2rem;
  }
  
  .btn {
    border: 5px solid;
    border-image-slice: 1;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: black !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: black;
    transition: all .4s ease;
  }
  
  .btn:hover, .btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: black !important;
    border: 5px solid black !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }




</style>



    <!--Inicio do Carousel-->



<div id="gallery" class="carousel slide w-100" data-ride="carousel" data-aos="fade-up" data-aos-delay="300">

      <div class="carousel-inner">
          {% for img in carousel %}
          {% if forloop.last %}
        <div class="carousel-item active" >
          {% else %}
                <div class="carousel-item  ">
            {% endif %}
          <img src="{{img.Image.url}}" class="img-fluid" width="937" height="460" alt="...">
          <div class="carousel-caption d-none d-md-block rounded position-absolute bg-custom">
 
          </div>
        </div>
        
      </div>
      {% endfor %} 
    </div> 


<!--Fim do Carousel-->
    
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {% for post in posts %}

           <div class="col-md-4">

               <a class="text-dark" href="{{post.get_absolute_url}}">
              <div class="card border-0" id="card1">
                <img class="rounded" alt="Responsive image" width="120px" height="100px" margin="10px" src="{{post.image.url}}" alt="{{ post.title }}">
                <div class="card-body">
                  <h2 style="font-size:18px;font-weight:bold">{{post.title|truncatechars:50}}</h2>
                  <p class="card-text">{{post.text_introduction|truncatechars:50}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{post.publish}}</small>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

        {% for post in posts %}

        

      {% endfor %}

    {% endblock %}














	<h1>My Blog of Raptors</h1>
	<ul>
		{% for post in posts %}
				<li><a href="{% url 'article-detail' post.pk %}"> {{ post.title }}
					</a>  - {{ post.author}}
					<br/> 
					{{ post.body }}
				</li>
				{% load static %}
					<div class="bg-light"><img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image"
                  src="{{ post.image.url }}"> </div>
		{% endfor %}
	</ul>
